.container {
  display: flex;
  flex-direction: column;
  padding: 36px;
  gap: 40px;
}

.title {
  font-family: 'SohneBold';
  font-size: 2vw;
  margin: 0;
  width: 600px;
}

.subtitle {
  font-family: 'SohneLight';
  color: #6b6b6b;
  font-size: 14px;
}
