.container{
    display: flex;
    flex-direction: column;
    padding: 36px;
    gap: 40px;
}

.titleContainer{
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.title{
    font-family: 'SohneBold';
    font-size: 40px;
    margin: 0;
}

.subtitle{
    font-family: 'SohneLight';
    font-size: 16px;
    margin: 0;
    color: #6b6b6b;
}