.container {
  display: flex;
  flex-direction: column;
  width: 300px;
  gap: 24px;
}

.label {
  font-family: 'SohneBold';
  font-size: 2vw;
  margin: 0;
}

.formContainer{
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.inputContainer {
  display: flex;
  flex-direction: column;
}

.inputLabel{
    
    margin: 0;
}
