.container {
  display: flex;
  flex-direction: column;
  width: 300px;
  gap: 24px;
}

.title {
  font-family: 'SohneBold';
  font-size: 2vw;
  margin: 0;
}

.subtitle {
  font-family: 'SohneLight';
  font-size: 16px;
  margin: 0;
  color: #6b6b6b;
}
