.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  margin: auto;
  width: 680px;
  min-height: calc(100vh - 67px);
  letter-spacing: -0.003em;
  font-size: 14px;
  color: #242424;
  box-sizing: border-box;
  user-select: text;
  gap: 30px;
}

.content {
  width: 100%;
}

.container h1 {
  font-family: 'SohneBold';
  font-size: 32px;
}

.container h2 {
  font-family: 'SohneBold';
  font-size: 28px;
}

.container h3 {
  font-family: 'SohneBold';
  font-size: 24px;
}

.container p:has(img) {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container p {
  display: block;
  text-align: start;
  font-size: 20px;
  font-family: 'Times New Roman', Times, serif;
  line-height: 32px;
  letter-spacing: -0.003em;
}

.container p > img {
  max-height: none;
  width: 100%;
}

.container ul > li {
  font-size: 20px;
  line-height: 32px;
  letter-spacing: -0.003em;
  font-family: 'Times New Roman', Times, serif;
}

.container ol > li {
  font-size: 20px;
  line-height: 32px;
  letter-spacing: -0.003em;
  font-family: 'Times New Roman', Times, serif;
}

.container blockquote {
  font-size: 20px;
  border-left: 4px solid rgb(200, 200, 200);
  padding-left: 12px;
  margin: 0;
  line-height: 32px;
  letter-spacing: -0.003em;
  font-family: 'Times New Roman', Times, serif;
}

.container pre code {
  background-color: #282c34;
  color: #abb2bf;
  padding: 12px;
  border-radius: 6px;
  display: block;
  overflow-x: auto;
  font-family: 'Courier New', monospace;
}

.divider {
  display: flex;
  width: 100%;
  border-top: 0.5px solid rgb(242, 242, 242);
}

.infoContainer {
  display: flex;
  flex-direction: column;
  margin: 28px 0px 28px 0px;
  gap: 2px;
}

.infoContainer > .date {
  text-align: start;
  justify-content: start;
  font-family: 'SohneRegular';
  margin: 0;
}

.posted {
  margin: 0;
  color: #6b6b6b;
  font-size: 14px !important;
}

.fallbackContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  margin: auto;
  max-width: 1000px;
  height: calc(100vh - 67px);
  box-sizing: border-box;
}

.loadingText {
  display: flex;
  text-align: center;
}

@media (max-width: 1200px) {
  .container {
    width: 700px;
  }
}

@media (max-width: 900px) {
  .container {
    width: 500px;
  }

  .container p > img {
    max-height: none;
    width: 100%;
  }
}

@media (max-width: 700px) {
  .container {
    width: 100%;
    justify-content: start;
    align-items: start;
    margin: 0;
  }

  .container h1 {
    font-size: 28px;
  }

  .container h2 {
    font-size: 24px;
  }

  .container h3 {
    font-size: 20px;
  }

  .container p {
    font-size: 18px;
  }

  .container ul > li {
    font-size: 18px;
  }

  .container ol > li {
    font-size: 18px;
  }

  .container blockquote {
    font-size: 18px;
  }

  .container img {
    max-height: 400px;
  }
}
