.wrapper {
  text-decoration: none;
  color: black;
}

.container {
  display: flex;
  flex-direction: row;
  gap: 12px;
  margin-top: 16px;
  margin-bottom: 16px;
  height: 150px;
  align-items: center;
  justify-content: space-between;
}

.container:hover .label > h1 {
  text-decoration: underline;
  text-underline-offset: 1px;
}

.textContainer{
  display: flex;
  flex-direction: column;
  width: 600px;
  gap: 8px;
}

.textInfoContainer{
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.imageContainer {
  width: 160px;
  height: 107px;
}

.image {
  width: 160px;
  height: 107px;
  object-fit: cover;
  object-position: center;
  overflow: hidden;
  display: block;
}

.label > h1,
.label {
  margin: 0;
  padding: 0;
  width: fit-content;
  font-family: 'SohneBold';
}

.date {
  margin: 0;
  padding: 0;
  color: #6b6b6b;
  font-size: 14px;
}

.tag {
  margin: 0;
  padding: 0;
}

.description {
  margin: 0;
  padding: 0;
  color: #6b6b6b;
}

.divider {
  border-bottom: 0.5px solid rgb(242, 242, 242);
}
