@font-face {
  font-family: 'Mustasurma';
  src: url('../../public/fonts/Mustasurma.woff2') format('woff2');
}

@font-face {
  font-family: 'Sourcesans';
  src: url('../../public/fonts/SourceSans.ttf') format('truetype');
}

@font-face {
  font-family: 'SohneRegular';
  src: url('../../public//fonts/sohne-regular.otf') format('opentype');
}

@font-face {
  font-family: 'SohneBold';
  src: url('../../public//fonts/sohne-bold.otf') format('opentype');
}

@font-face {
  font-family: 'SohneLight';
  src: url('../../public//fonts/sohne-light.otf') format('opentype');
}

body {
  margin-left: auto;
  margin-right: auto;
  max-width: 90rem;
  font-family: 'SohneRegular';
}

@media (max-width: 1024px) {
  body {
    margin-left: 150px;
    margin-right: 150px;
  }
}

@media (max-width: 767px) {
  body {
    margin-left: 12px;
    margin-right: 12px;
  }
}

@media (max-width: 479px) {
  body {
    margin-left: 12px;
    margin-right: 12px;
  }
}
