.container {
  display: flex;
  justify-content: center;
  margin: auto;
  gap: 20px;
}

.divider {
  display: flex;
  flex-direction: column;
  border-left: 1px solid rgb(242, 242, 242);
  gap: 36px;
  padding: 36px;
  width: 300px;
  flex-shrink: 0;
}

.blogPosts {
  flex: 1;
}

@media (max-width: 1200px) {
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
  }

  .divider{
    border-left: none;
  }
}
