.subHeaderContainer {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.postsContainer {
  flex: 3;
}

.aboutContainer {
  flex: 1;
  border-left: 1px rgb(242, 242, 242) solid;
}

.divider {
  border: 1px solid rgb(242, 242, 242);
}
