.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 24px;
}

.title {
  font-family: 'InterBold';
  font-size: 40px;
  margin: 0;
}

.dataContainer {
  width: 100%;
}

@media (max-width: 600px) {
  .title {
    font-size: 30px;
  }
}
