.container {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  margin: auto;
  max-width: 672px;
  box-sizing: border-box;
  margin-bottom: 42px;
  gap: 80px;
}


@media (max-width: 1200px) {
  .container {
    max-width: 800px;
  }
}

@media (max-width: 900px) {
  .container {
    max-width: 600px;
  }
}

@media (max-width: 700px) {
  .container {
    max-width: none;
    padding: 24px;
    justify-content: start;
    align-items: start;
    margin-bottom: 0;
  }
}
