.container {
  display: flex;
  flex-direction: column;
  gap: 24px;
  width: 300px;
}

.title{
  font-family: 'SohneBold';
  font-size: 40px;
  margin: 0;
}

.spotifyColor{
  color: #1db954;
}

@media (max-width: 1050px){
  .container{
    width: auto;
  }
}

@media (max-width: 670px){
  .title{
    font-size: 30px;
  }
}