.container {
  display: flex;
  flex-direction: column;
  padding: 36px;
  gap: 24px;
}

.title{
  font-family: 'Mustasurma';
  font-size: 2vw;
  margin: 0;
}

.spotifyCardContainer{
  display: flex;
  flex-direction: row;
  align-items: center;
  text-transform: uppercase;
  font-weight: 600;
  margin: 0;
  gap: 24px;
}

.spotifyTextContainer{
  display: flex;
  flex-direction: column;
  gap: 4px;  
}

.spotifyTitle{
  font-family: 'Sourcesans';
  font-size: 36px;
  margin: 0;
}

.spotifyArtist{
  font-family: 'Sourcesans';
  font-size: 20px;
  margin: 0;
}